.font-title {
    font-family: 'Berkshire Swash', cursive;
}

.card-image {
    width: 264px;
    height: 204px;
}

.selected ol {
    padding: 5px 20px;
    margin-left: 20px;
    list-style: decimal;
}